/*h1 {
    text-align: center;
    margin-top: 30px;
}
img, p {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    text-align: center;
    font-size: xx-large;
}
.team {
    margin-top: 20px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
body {
    background-color: antiquewhite;
}*/

body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.team-member {
    margin: auto;
}

img {
    width: 240%;
}

p {
    margin-top: 230px;
    margin-left: -60px;
    font-size: large;
}