body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.team-member {
    margin: auto;
}

img {
    width: 240%;
}

p {
    margin-top: 280px;
    margin-left: -60px;
    font-size: large;
}
